/* did weird stuff here, looked up defaults to try and directly edit elements */

.h22{
    text-align:center;
  }

  .legendd {
      display: block;
      width: 25%;
      padding: 0;
      margin-bottom: 20px;
      font-size: 21px;
      line-height: inherit;
      color: purple;
      border: 0;
      border-bottom: 0px;
    }

  .h33{
    padding: 20px;
  }

  .specialbutton {
    border: 0;
    background: transparent;
    box-sizing: border-box;
    width: 0;
    height: 74px;

    border-color: transparent transparent transparent #202020;
    transition: 100ms all ease;
    cursor: pointer;

    /*play button */
    border-style: solid;
    border-width: 37px 0 37px 60px;
  }

  .specialbutton:hover {
    border-color: transparent transparent transparent #404040;
  }

  /* The Modal (background) */
  /* Modal Header */
  .modal-header {
    padding: 2px 16px;
    background-color: #4B0082;
    color: white;
  }

  /* Modal Body */
  .modal-body {padding: 2px 16px;}

  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
  }

  /* Add Animation */
  @keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
  }

/* The Close Button */
.close {
  color: #FFFFFF;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
}
